flows.json
[
    {
        "id": "70d1edf009669b1f",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1f35d8070d08aa76",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d4bb2d7a23165e78",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f658764c92914247",
        "type": "tab",
        "label": "Flow 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d61e9781d8cf38bc",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#008bbf",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#2196f3",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#2196f3",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#2196f3",
                    "edited": true
                },
                "page-backgroundColor": {
                    "value": "#f5f5f5",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#303f9f",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#e0e0e0",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#e0e0e0",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#2196f3",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "KYS Website",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 5,
                "py": 5
            }
        }
    },
    {
        "id": "b1f263605ac770b2",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "1988c3f1a1dac9b4",
        "type": "ui_group",
        "name": "Header",
        "tab": "b1f263605ac770b2",
        "order": 1,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "692502b42302f22d",
        "type": "ui_tab",
        "name": "User Authentication",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9dda09625be00e71",
        "type": "ui_group",
        "name": "Login",
        "tab": "692502b42302f22d",
        "order": 1,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f902a277c89b59fe",
        "type": "ui_group",
        "name": "Signup",
        "tab": "692502b42302f22d",
        "order": 2,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "93cde0ec046c2221",
        "type": "ui_tab",
        "name": "Menu",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "623b99df28c25e02",
        "type": "ui_group",
        "name": "High security mode",
        "tab": "93cde0ec046c2221",
        "order": 1,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "29ef66a7043bc814",
        "type": "ui_group",
        "name": "Internal Environment",
        "tab": "93cde0ec046c2221",
        "order": 2,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8d3b3ef0511411c5",
        "type": "ui_tab",
        "name": "Suspicious Activities",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3926e6e4e7b72e67",
        "type": "ui_group",
        "name": "Placeholder",
        "tab": "8d3b3ef0511411c5",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc1bbec7c525b6b8",
        "type": "ui_group",
        "name": "Fire and toxic gas",
        "tab": "93cde0ec046c2221",
        "order": 3,
        "disp": false,
        "width": "7",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f657e76c43d16019",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f771fd65e8288d7a",
        "type": "ui_group",
        "name": "Default",
        "tab": "8d3b3ef0511411c5",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "003679c57e7c999b",
        "type": "ui_group",
        "name": "Default",
        "tab": "8d3b3ef0511411c5",
        "order": 3,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f7a55b8496ef909b",
        "type": "ui_group",
        "name": "Default",
        "tab": "8d3b3ef0511411c5",
        "order": 4,
        "disp": false,
        "width": "8",
        "collapse": false,
        "className": ""
    },
    {
        "id": "240072d5eab0540f",
        "type": "firebase admin",
        "name": ""
    },
    {
        "id": "c6fa3ef31ed5ffa6",
        "type": "ui_group",
        "name": "Default",
        "tab": "8d3b3ef0511411c5",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0370849dbb064aa3",
        "type": "ui_text",
        "z": "70d1edf009669b1f",
        "group": "1988c3f1a1dac9b4",
        "order": 1,
        "width": "7",
        "height": "4",
        "name": "",
        "label": "",
        "format": "<div style=\"text-align: center;\"><b>{{msg.payload}}</b></div>",
        "layout": "row-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "50",
        "color": "#000000",
        "x": 470,
        "y": 100,
        "wires": []
    },
    {
        "id": "e7317c0343da667e",
        "type": "inject",
        "z": "70d1edf009669b1f",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "WELCOME TO KYS WEBSITE",
        "payloadType": "str",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "0370849dbb064aa3"
            ]
        ]
    },
    {
        "id": "cf235b7984bf1122",
        "type": "ui_text",
        "z": "70d1edf009669b1f",
        "group": "1988c3f1a1dac9b4",
        "order": 2,
        "width": "7",
        "height": "2",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "30",
        "color": "#000000",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "6ca36d614c894e25",
        "type": "inject",
        "z": "70d1edf009669b1f",
        "name": "log in prompt",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Let's get you logged in",
        "payloadType": "str",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "cf235b7984bf1122"
            ]
        ]
    },
    {
        "id": "03079d42b340b5b4",
        "type": "ui_button",
        "z": "70d1edf009669b1f",
        "name": "",
        "group": "1988c3f1a1dac9b4",
        "order": 4,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Log In",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "button",
        "icon": "",
        "payload": "{\"tab\":\"User Authentication\",\"group\":{\"hide\":[\"User_Authentication_Signup\"],\"show\":[\"User_Authentication_Login\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 250,
        "y": 320,
        "wires": [
            [
                "fead7a7d4aa6bd7b"
            ]
        ]
    },
    {
        "id": "3519aae4d347acd9",
        "type": "ui_button",
        "z": "70d1edf009669b1f",
        "name": "",
        "group": "1988c3f1a1dac9b4",
        "order": 5,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Sign Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "button",
        "icon": "",
        "payload": "{\"tab\":\"User Authentication\",\"group\":{\"hide\":[\"User_Authentication_Login\"],\"show\":[\"User_Authentication_Signup\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 260,
        "y": 380,
        "wires": [
            [
                "1e18d3f72fc85289"
            ]
        ]
    },
    {
        "id": "01af794db3cf4c44",
        "type": "ui_template",
        "z": "70d1edf009669b1f",
        "group": "1988c3f1a1dac9b4",
        "name": "button formater",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<style>\n    .nr-dashboard-group {\n        display: flex;\n        justify-content: center;\n        width: auto;\n    }\n\n    /* Increase the font size of the button text */\n    .nr-dashboard-button .md-button {\n        font-size: 20px;\n        /* Adjust the size as needed */\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 120,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "fead7a7d4aa6bd7b",
        "type": "ui_ui_control",
        "z": "70d1edf009669b1f",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "1e18d3f72fc85289",
        "type": "ui_ui_control",
        "z": "70d1edf009669b1f",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "0b7b3d4dcd0f9b19",
        "type": "inject",
        "z": "70d1edf009669b1f",
        "name": "Set global var",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 500,
        "wires": [
            [
                "4a4934edd6beb0ba"
            ]
        ]
    },
    {
        "id": "4a4934edd6beb0ba",
        "type": "function",
        "z": "70d1edf009669b1f",
        "name": "Set high security mode to false",
        "func": "global.set('HighSecurityMode', false);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "77f9d30709e26941",
        "type": "ui_form",
        "z": "1f35d8070d08aa76",
        "name": "",
        "label": "Log In",
        "group": "9dda09625be00e71",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "Username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "Password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Username": "",
            "Password": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 200,
        "y": 500,
        "wires": [
            [
                "9328754978532db5"
            ]
        ]
    },
    {
        "id": "1fa2b20ba04a59b9",
        "type": "ui_form",
        "z": "1f35d8070d08aa76",
        "name": "",
        "label": "Sign Up",
        "group": "f902a277c89b59fe",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Username",
                "value": "Username",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "Password",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Email",
                "value": "Email",
                "type": "email",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "Username": "",
            "Password": "",
            "Email": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "49af8320557ff11c",
                "8f8e03774e9787ad"
            ]
        ]
    },
    {
        "id": "f06ffc36552706ec",
        "type": "ui_ui_control",
        "z": "1f35d8070d08aa76",
        "name": "go to signup",
        "events": "all",
        "x": 370,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "9c506c74be55d506",
        "type": "ui_button",
        "z": "1f35d8070d08aa76",
        "name": "",
        "group": "9dda09625be00e71",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Sign Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "button",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"User_Authentication_Login\"],\"show\":[\"User_Authentication_Signup\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "f06ffc36552706ec"
            ]
        ]
    },
    {
        "id": "df9845a4cfb37b58",
        "type": "ui_ui_control",
        "z": "1f35d8070d08aa76",
        "name": "go to login",
        "events": "all",
        "x": 390,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "bfa6ff8929752210",
        "type": "ui_button",
        "z": "1f35d8070d08aa76",
        "name": "",
        "group": "f902a277c89b59fe",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Log In",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "button",
        "icon": "",
        "payload": "{\"group\":{\"hide\":[\"User_Authentication_Signup\"],\"show\":[\"User_Authentication_Login\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "df9845a4cfb37b58"
            ]
        ]
    },
    {
        "id": "08e6275376e3a9ac",
        "type": "ui_text",
        "z": "1f35d8070d08aa76",
        "group": "9dda09625be00e71",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 510,
        "y": 60,
        "wires": []
    },
    {
        "id": "48ff4fa98f406aa7",
        "type": "inject",
        "z": "1f35d8070d08aa76",
        "name": "sign up prompt",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "New to the website?",
        "payloadType": "str",
        "x": 320,
        "y": 60,
        "wires": [
            [
                "08e6275376e3a9ac"
            ]
        ]
    },
    {
        "id": "5a90d8b329f4e2c7",
        "type": "ui_text",
        "z": "1f35d8070d08aa76",
        "group": "f902a277c89b59fe",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 280,
        "wires": []
    },
    {
        "id": "abe696762881bb0e",
        "type": "inject",
        "z": "1f35d8070d08aa76",
        "name": "log in prompt",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Already have an account?",
        "payloadType": "str",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "5a90d8b329f4e2c7"
            ]
        ]
    },
    {
        "id": "ba85506955fe4ee1",
        "type": "ui_button",
        "z": "1f35d8070d08aa76",
        "name": "",
        "group": "9dda09625be00e71",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Home\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 160,
        "wires": [
            [
                "c3e1461b46bcd157"
            ]
        ]
    },
    {
        "id": "c3e1461b46bcd157",
        "type": "ui_ui_control",
        "z": "1f35d8070d08aa76",
        "name": "go to home",
        "events": "all",
        "x": 890,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "d859b8d2c607284b",
        "type": "ui_button",
        "z": "1f35d8070d08aa76",
        "name": "",
        "group": "f902a277c89b59fe",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "Back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Home\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 710,
        "y": 220,
        "wires": [
            [
                "c3e1461b46bcd157"
            ]
        ]
    },
    {
        "id": "92a5d2f2bf7dae94",
        "type": "debug",
        "z": "1f35d8070d08aa76",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 220,
        "wires": []
    },
    {
        "id": "9328754978532db5",
        "type": "function",
        "z": "1f35d8070d08aa76",
        "name": "function 1",
        "func": "msg.firestore =\n{\n  query : [\n      {where: [\"Password\", \"==\", msg.payload.Password]},\n      {where: [\"Username\", \"==\", msg.payload.Username]}\n  ]\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 500,
        "wires": [
            [
                "aa0972e6cada76c9"
            ]
        ]
    },
    {
        "id": "2aa9f407335fa4b1",
        "type": "function",
        "z": "1f35d8070d08aa76",
        "name": "function 2",
        "func": "if (typeof msg.payload === 'object' && msg.payload !== null && Object.keys(msg.payload).length === 0) {\n    // msg.payload is an empty object\n    msg.payload = \"false\"; // Set msg.payload to false\n} else {\n    // msg.payload is not an empty object or is not an object\n    msg.payload = \"true\"; // Set msg.payload to true\n}\nreturn msg; // Always return msg to continue the flow\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 500,
        "wires": [
            [
                "8877777047b54915"
            ]
        ]
    },
    {
        "id": "8877777047b54915",
        "type": "switch",
        "z": "1f35d8070d08aa76",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 500,
        "wires": [
            [
                "acc535e3da8c75ca"
            ],
            [
                "ee9599e0b8d58eb9"
            ]
        ]
    },
    {
        "id": "acc535e3da8c75ca",
        "type": "change",
        "z": "1f35d8070d08aa76",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 480,
        "wires": [
            [
                "7d3b8a7671722a79"
            ]
        ]
    },
    {
        "id": "7d3b8a7671722a79",
        "type": "ui_ui_control",
        "z": "1f35d8070d08aa76",
        "name": "",
        "events": "all",
        "x": 1380,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "ee9599e0b8d58eb9",
        "type": "change",
        "z": "1f35d8070d08aa76",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Please try again!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 520,
        "wires": [
            [
                "d680bca44ea9bfdd"
            ]
        ]
    },
    {
        "id": "d680bca44ea9bfdd",
        "type": "ui_toast",
        "z": "1f35d8070d08aa76",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Error: Incorrect Username and/or Password",
        "name": "",
        "x": 1390,
        "y": 520,
        "wires": []
    },
    {
        "id": "49af8320557ff11c",
        "type": "function",
        "z": "1f35d8070d08aa76",
        "name": "function 3",
        "func": "msg.firestore =\n{\n  query : [\n      {where: [\"Password\", \"==\", msg.payload.Password]},\n      {where: [\"Username\", \"==\", msg.payload.Username]},\n      {where: [\"Email\", \"==\", msg.payload.Email]}\n  ]\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 600,
        "wires": [
            [
                "873aed9de85d11fe"
            ]
        ]
    },
    {
        "id": "e22713c3420b5ee0",
        "type": "function",
        "z": "1f35d8070d08aa76",
        "name": "function 4",
        "func": "if (typeof msg.payload === 'object' && msg.payload !== null && Object.keys(msg.payload).length === 0) {\n    // msg.payload is an empty object\n    msg.payload = \"false\"; // Set msg.payload to false\n} else {\n    // msg.payload is not an empty object or is not an object\n    msg.payload = \"true\"; // Set msg.payload to true\n}\nreturn msg; // Always return msg to continue the flow\n\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 600,
        "wires": [
            [
                "ca372d1a453a9f3e"
            ]
        ]
    },
    {
        "id": "ca372d1a453a9f3e",
        "type": "switch",
        "z": "1f35d8070d08aa76",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 960,
        "y": 600,
        "wires": [
            [
                "e325ec1df14fb2f8"
            ],
            [
                "c79689617715c703"
            ]
        ]
    },
    {
        "id": "c79689617715c703",
        "type": "change",
        "z": "1f35d8070d08aa76",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "auth",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 660,
        "wires": [
            [
                "47c1dc4c1a138dc0"
            ]
        ]
    },
    {
        "id": "e325ec1df14fb2f8",
        "type": "change",
        "z": "1f35d8070d08aa76",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Please try again!",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1140,
        "y": 580,
        "wires": [
            [
                "e5a9e08507a01e2b"
            ]
        ]
    },
    {
        "id": "e5a9e08507a01e2b",
        "type": "ui_toast",
        "z": "1f35d8070d08aa76",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "Error: This Username has already existed!",
        "name": "",
        "x": 1390,
        "y": 580,
        "wires": []
    },
    {
        "id": "65281a4d0e8b2b0b",
        "type": "change",
        "z": "1f35d8070d08aa76",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1610,
        "y": 660,
        "wires": [
            [
                "08df7f452f01fbdd"
            ]
        ]
    },
    {
        "id": "0d1879a3d6eb82c5",
        "type": "ui_ui_control",
        "z": "1f35d8070d08aa76",
        "name": "",
        "events": "all",
        "x": 2040,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "08df7f452f01fbdd",
        "type": "change",
        "z": "1f35d8070d08aa76",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1840,
        "y": 660,
        "wires": [
            [
                "0d1879a3d6eb82c5"
            ]
        ]
    },
    {
        "id": "47c1dc4c1a138dc0",
        "type": "Firestore out",
        "z": "1f35d8070d08aa76",
        "name": "",
        "collection": "Authentication",
        "document": "",
        "operation": "add",
        "admin": "240072d5eab0540f",
        "eject": false,
        "x": 1370,
        "y": 660,
        "wires": [
            [
                "65281a4d0e8b2b0b"
            ]
        ]
    },
    {
        "id": "aa0972e6cada76c9",
        "type": "Firestore in",
        "z": "1f35d8070d08aa76",
        "name": "",
        "collection": "Authentication",
        "group": false,
        "document": "",
        "realtime": false,
        "query": [
            {
                "where": {
                    "field": "Username",
                    "operation": "==",
                    "value": "Username"
                }
            },
            {
                "where": {
                    "field": "Password",
                    "operation": "==",
                    "value": "Password"
                }
            }
        ],
        "admin": "240072d5eab0540f",
        "snapHandler": "",
        "eject": false,
        "x": 590,
        "y": 500,
        "wires": [
            [
                "2aa9f407335fa4b1",
                "bd96e4dcc622931a"
            ]
        ]
    },
    {
        "id": "873aed9de85d11fe",
        "type": "Firestore in",
        "z": "1f35d8070d08aa76",
        "name": "",
        "collection": "Authentication",
        "group": false,
        "document": "",
        "realtime": false,
        "query": [
            {
                "where": {
                    "field": "Username",
                    "operation": "==",
                    "value": "Username"
                }
            },
            {
                "where": {
                    "field": "Email",
                    "operation": "==",
                    "value": "Email"
                }
            }
        ],
        "admin": "240072d5eab0540f",
        "snapHandler": "",
        "eject": false,
        "x": 560,
        "y": 600,
        "wires": [
            [
                "e22713c3420b5ee0"
            ]
        ]
    },
    {
        "id": "bd96e4dcc622931a",
        "type": "function",
        "z": "1f35d8070d08aa76",
        "name": "function 5",
        "func": "global.set('email', msg.payload.Email)",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "8f8e03774e9787ad",
        "type": "function",
        "z": "1f35d8070d08aa76",
        "name": "function 6",
        "func": "flow.set(\"auth\", msg.payload)",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "c9a7b6d177094cac",
        "type": "ui_text",
        "z": "d4bb2d7a23165e78",
        "group": "623b99df28c25e02",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "25",
        "color": "#000000",
        "x": 370,
        "y": 120,
        "wires": []
    },
    {
        "id": "ba3b0143f6660df7",
        "type": "inject",
        "z": "d4bb2d7a23165e78",
        "name": "Button prompt",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Toggle high security mode",
        "payloadType": "str",
        "x": 200,
        "y": 120,
        "wires": [
            [
                "c9a7b6d177094cac"
            ]
        ]
    },
    {
        "id": "ffc050f7664b1e32",
        "type": "ui_button",
        "z": "d4bb2d7a23165e78",
        "name": "High security mode",
        "group": "623b99df28c25e02",
        "order": 2,
        "width": "7",
        "height": "5",
        "passthru": false,
        "label": "{{msg.label}}",
        "tooltip": "",
        "color": "",
        "bgcolor": "{{msg.bgcolor}}",
        "className": "big_button",
        "icon": "",
        "payload": "toggle",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 260,
        "wires": [
            [
                "47af925b31febc14"
            ]
        ]
    },
    {
        "id": "61fad74417921219",
        "type": "ui_template",
        "z": "d4bb2d7a23165e78",
        "group": "623b99df28c25e02",
        "name": "Big button template",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<style>\n    /* Increase the font size of the button text */\n    .nr-dashboard-button[node-class=\"big_button\"] .md-button {\n    font-size: 30px;\n    /* Adjust the size as needed */\n    white-space: pre-line; /* Allows line breaks */\n    text-align: center; /* Center-align text */\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 170,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "47af925b31febc14",
        "type": "function",
        "z": "d4bb2d7a23165e78",
        "name": "toggle logic",
        "func": "if (msg.payload === 'toggle') {\n    let newState = context.get('state') || 'off';\n    let buttonMsg = {};\n    let notificationMsg = {};\n\n    if (newState === 'off') {\n        buttonMsg = {\n            label: 'High security mode: ON',\n            bgcolor: 'green',\n        };\n        notificationMsg = {\n            payload: 'High security mode: ON'\n        };\n        context.set('state', 'on');\n        global.set('HighSecurityMode', true);\n    }\n    else {\n        buttonMsg = {\n            label: 'High security mode: OFF',\n            bgcolor: 'rgb(33, 150, 243)',\n        };\n        notificationMsg = {\n            payload: 'High security mode: OFF'\n        };\n        context.set('state', 'off');\n        global.set('HighSecurityMode', false);\n    }\n    return [buttonMsg, notificationMsg];\n}\nreturn [null, null];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 260,
        "wires": [
            [
                "ffc050f7664b1e32"
            ],
            [
                "6ec4200d7e68b3c2",
                "561b04f92c7d3006",
                "8900825439f940aa"
            ]
        ]
    },
    {
        "id": "6ec4200d7e68b3c2",
        "type": "ui_toast",
        "z": "d4bb2d7a23165e78",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "toggle notification",
        "x": 730,
        "y": 260,
        "wires": []
    },
    {
        "id": "6b8237670c27bde7",
        "type": "ui_gauge",
        "z": "d4bb2d7a23165e78",
        "name": "",
        "group": "29ef66a7043bc814",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{msg.payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 320,
        "y": 700,
        "wires": []
    },
    {
        "id": "eb25a83d81a38cc2",
        "type": "ui_text",
        "z": "d4bb2d7a23165e78",
        "group": "29ef66a7043bc814",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload.toFixed(2) + \" °C\"}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 700,
        "wires": []
    },
    {
        "id": "d62d7169a0a11849",
        "type": "ui_text",
        "z": "d4bb2d7a23165e78",
        "group": "29ef66a7043bc814",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 390,
        "y": 620,
        "wires": []
    },
    {
        "id": "8c018c0d87058690",
        "type": "inject",
        "z": "d4bb2d7a23165e78",
        "name": "group title",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Internal Environment",
        "payloadType": "str",
        "x": 260,
        "y": 620,
        "wires": [
            [
                "d62d7169a0a11849"
            ]
        ]
    },
    {
        "id": "e8cc649b8d66723c",
        "type": "comment",
        "z": "d4bb2d7a23165e78",
        "name": "High security mode toggle button",
        "info": "",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "199bf7d60104daae",
        "type": "comment",
        "z": "d4bb2d7a23165e78",
        "name": "Temp & Humidity",
        "info": "",
        "x": 220,
        "y": 760,
        "wires": []
    },
    {
        "id": "2e8fbf2286542d24",
        "type": "ui_button",
        "z": "d4bb2d7a23165e78",
        "name": "",
        "group": "623b99df28c25e02",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "View suspicious activities",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Suspicious Activities\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "d1b727dfb0a166b7"
            ]
        ]
    },
    {
        "id": "d1b727dfb0a166b7",
        "type": "ui_ui_control",
        "z": "d4bb2d7a23165e78",
        "name": "View sus act",
        "events": "all",
        "x": 450,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "f44426d4efbb4846",
        "type": "ui_text",
        "z": "d4bb2d7a23165e78",
        "group": "bc1bbec7c525b6b8",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "",
        "fontSize": "20",
        "color": "#000000",
        "x": 370,
        "y": 960,
        "wires": []
    },
    {
        "id": "d845b74bcaa12640",
        "type": "inject",
        "z": "d4bb2d7a23165e78",
        "name": "group title",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Fire/Toxic gas hazard",
        "payloadType": "str",
        "x": 240,
        "y": 960,
        "wires": [
            [
                "f44426d4efbb4846"
            ]
        ]
    },
    {
        "id": "a7b0a56c8eea1470",
        "type": "ui_text",
        "z": "d4bb2d7a23165e78",
        "group": "bc1bbec7c525b6b8",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "FIRE",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 450,
        "y": 1160,
        "wires": []
    },
    {
        "id": "3b09cf228b85076c",
        "type": "ui_gauge",
        "z": "d4bb2d7a23165e78",
        "name": "",
        "group": "bc1bbec7c525b6b8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Toxic gas concentration",
        "label": "PPM",
        "format": "{{value}}",
        "min": 0,
        "max": "4095",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "1500",
        "seg2": "3000",
        "diff": false,
        "className": "",
        "x": 510,
        "y": 1020,
        "wires": []
    },
    {
        "id": "87772061674819ff",
        "type": "mqtt in",
        "z": "d4bb2d7a23165e78",
        "name": "",
        "topic": "/22127131/Humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f657e76c43d16019",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 700,
        "wires": [
            [
                "6b8237670c27bde7"
            ]
        ]
    },
    {
        "id": "88b34d16578056c4",
        "type": "mqtt in",
        "z": "d4bb2d7a23165e78",
        "name": "",
        "topic": "/22127131/Temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f657e76c43d16019",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 540,
        "y": 700,
        "wires": [
            [
                "eb25a83d81a38cc2"
            ]
        ]
    },
    {
        "id": "561b04f92c7d3006",
        "type": "mqtt out",
        "z": "d4bb2d7a23165e78",
        "name": "",
        "topic": "/22127131/highSecurityToggle",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "f657e76c43d16019",
        "x": 750,
        "y": 340,
        "wires": []
    },
    {
        "id": "e607975029cbff1b",
        "type": "mqtt in",
        "z": "d4bb2d7a23165e78",
        "name": "",
        "topic": "/22127131/Fire",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f657e76c43d16019",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1160,
        "wires": [
            [
                "a7b0a56c8eea1470",
                "61dafec0d4908f99"
            ]
        ]
    },
    {
        "id": "d89e3178713a35cc",
        "type": "mqtt in",
        "z": "d4bb2d7a23165e78",
        "name": "",
        "topic": "/22127131/Gas",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "f657e76c43d16019",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 1020,
        "wires": [
            [
                "3b09cf228b85076c",
                "8c0ce92ce5194c83"
            ]
        ]
    },
    {
        "id": "8900825439f940aa",
        "type": "http request",
        "z": "d4bb2d7a23165e78",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://www.pushsafer.com/api?k=xUszs3ICNpeFR4LxfquP&m={{payload}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "61dafec0d4908f99",
        "type": "switch",
        "z": "d4bb2d7a23165e78",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "YES!!!!!",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "no",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 450,
        "y": 1220,
        "wires": [
            [
                "73f911fcd0341abd",
                "2a1f586fcc17a7c4"
            ],
            []
        ]
    },
    {
        "id": "73f911fcd0341abd",
        "type": "http request",
        "z": "d4bb2d7a23165e78",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://www.pushsafer.com/api?k=xUszs3ICNpeFR4LxfquP&m=YOUR%20HOUSE%20IS%20ON%20FIRE!!!!!!",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "8c0ce92ce5194c83",
        "type": "switch",
        "z": "d4bb2d7a23165e78",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gt",
                "v": "",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "818fde57aba35349",
        "type": "http request",
        "z": "d4bb2d7a23165e78",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": false,
        "url": "",
        "persist": false,
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 670,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "2a1f586fcc17a7c4",
        "type": "function",
        "z": "d4bb2d7a23165e78",
        "name": "check if user's in the room",
        "func": "let is_away = global.get('HighSecurityMode');\n\n// if user is not inside the room\nif (is_away) {\n    msg.payload = \"FIRE DETECTED IN YOUR ROOM!!!\\n\\nPLEASE RETURN IMMEDIATELY!!!\"; \n}\nelse {\n    msg.payload = \"FIRE DETECTED IN YOUR ROOM!!!\\n\\nPLEASE LEAVE IMMEDIATELY!!!\";\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 670,
        "y": 1280,
        "wires": [
            [
                "6b05d164702d1956"
            ]
        ]
    },
    {
        "id": "6b05d164702d1956",
        "type": "e-mail",
        "z": "d4bb2d7a23165e78",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "muramasakuron@gmail.com",
        "dname": "fire warning email",
        "x": 930,
        "y": 1280,
        "wires": []
    },
    {
        "id": "ac168d644e0b2ef5",
        "type": "inject",
        "z": "d4bb2d7a23165e78",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "YES!!!!!",
        "payloadType": "str",
        "x": 410,
        "y": 1320,
        "wires": [
            [
                "2a1f586fcc17a7c4"
            ]
        ]
    },
    {
        "id": "8c74c85be8b890fd",
        "type": "http request",
        "z": "f658764c92914247",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.thingspeak.com/channels/2621663/feeds.json?results=100",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": true,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 180,
        "wires": [
            [
                "06433b5bf2ed745e"
            ]
        ]
    },
    {
        "id": "4b81c2a0aec6fbc6",
        "type": "inject",
        "z": "f658764c92914247",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "8c74c85be8b890fd"
            ]
        ]
    },
    {
        "id": "967ec23fd60f2b8b",
        "type": "ui_table",
        "z": "f658764c92914247",
        "group": "c6fa3ef31ed5ffa6",
        "name": "",
        "order": 0,
        "width": "20",
        "height": "15",
        "columns": [],
        "outputs": 0,
        "cts": false,
        "x": 690,
        "y": 180,
        "wires": []
    },
    {
        "id": "06433b5bf2ed745e",
        "type": "function",
        "z": "f658764c92914247",
        "name": "function 7",
        "func": "// Access the incoming message payload\nlet payload = msg.payload;\n\n// Extract the necessary data\nlet channel = payload.channel;\nlet feeds = payload.feeds;\n\n// Create a new JSON object for each feed entry\nlet output = feeds.map(feed => {\n    return {\n        time: feed.created_at,\n        temperature: feed.field2 !== null ? feed.field2: 'N/A',\n        humidity: feed.field1 !== null ? feed.field1: 'N/A',\n        gasLevel: feed.field3 !== null ? feed.field3 : 'N/A'  // Handle null values\n    };\n});\n\n// Set the new payload to the output message\nmsg.payload = output;\n\n// Return the modified message\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 180,
        "wires": [
            [
                "967ec23fd60f2b8b"
            ]
        ]
    }
]